<configuration>
	<system.webServer>
		<httpErrors existingResponse="PassThrough" />

		<handlers>
			<add name="iisnode" path="entry.js" verb="*" modules="iisnode" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="LetsEncrypt" stopProcessing="true">
					<match url="\.well-known\/acme-challenge\/(.*)" />
					<action type="None" />
				</rule>

				<!-- START Custom rules-->
				<rule name="Redirect requests to default azure websites domain" stopProcessing="true">
					<match url="(.*)" />  
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^gatevnotes\.azurewebsites\.net$" />
					</conditions>
					<action type="Redirect" url="https://www.gatevnotes.com/{R:0}" redirectType="Permanent" />  
				</rule>
				<rule name="Redirect to www subdomain and https" stopProcessing="true">
 				  <match url="(.*)" />
 				  <conditions logicalGrouping="MatchAll">
 					<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" negate="true" ignoreCase="true" />
 					<add input="{SERVER_PROTOCOL}" pattern="^(.*)(/.*)?$"/>
 				  </conditions>
 				  <action type="Redirect" url="https://www.{HTTP_HOST}/{R:1}" redirectType="Permanent" />
 				</rule>
				<!-- END Custom rules-->

				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>

				<rule name="StaticContent">
					<action type="Rewrite" url="content/files{REQUEST_URI}" />
				</rule>
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="entry.js" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000" />
				</rule>
			</outboundRules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
	</system.webServer>
</configuration>